* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: all 0.3s;
  }
  body {
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
    background-color: #fce5bc;
  }
  html::-webkit-scrollbar {
    width: 0.6rem;
  }
  html::-webkit-scrollbar-track {
    background: #fce5bc;
  }
  html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #DAA520;
  }
  html::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background: #DAA520;
  }
  section {
    padding: 1.8rem 10%;
  }
  
  /*? Navbar start  */
  nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 10%;
    z-index: 10;
    position: fixed;
  }
  nav.active {
    background-color: #fcd3b0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }
  
  nav .logo {
    display: flex;
    margin-top: 5px;
  }
  nav a.logo img {
    border-radius: 50%;
  }
  nav a.logo h4 {
    font-family: "Ephesis", cursive;
    font-size: 1.5rem;
    line-height: 40px;
    padding: 0 1rem;
    color: #DAA520;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
    font-size: 1.2rem;
    width: 50%;
  }
  nav ul li a {
    color: #DAA520;
    transition: 0.2s;
  }
  nav ul li a:hover {
    border-bottom: 0.2rem solid #ffffff;
    padding: 0.5rem 0;
  }
  .menu-toggle {
    margin-top: 10px;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
  }
  .menu-toggle input {
    width: 28px;
    height: 28px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu-toggle span {
    display: block;
    width: 28px;
    height: 4px;
    background-color: #DAA520;
    border-radius: 1px;
    transition: 0.5s;
  }
  
  /*? hamburger menu animation */
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }
  
  @media screen and (max-width: 968px) {
    nav {
      bottom: 0;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      background-color: #fdf5e8;
      position: fixed;
    }
    ul li {
      width: 50%;
      text-align: center;
    }
    nav ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 30vh;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background-color: white;
      transform: translateY(30%);
      opacity: 0;
      transition: transform 0.2s linear, opacity 0.3s linear;
      border-radius: 20px;
    }
  
    .menu-toggle {
      display: flex;
      margin-top: 15px;
    }
    nav ul.slide {
      transform: translateY(-95%);
      opacity: 1;
    }
  }
  /*? navbar end  */
  
  /*? beranda start  */
  .beranda .paket {
    float: right;
    width: -5px;
  }
  .beranda .content {
    margin: 40vh 0;
  }
  
  .beranda .content h2 {
    color: #DAA520;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 4px 3px 0 #fdf5e8, 2px 2px 2px rgba(0, 128, 54, 0);
  }
  
  .beranda .content a {
    background-color: #DAA520;
    color: white;
    padding: 0.7rem;
    border-radius: 4rem;
    box-shadow: 0px 10px 13px -7px #fdf5e8, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  .beranda .content a:hover {
    margin-left: 10px;
    filter: brightness(90%);
  }
  
  @media screen and (max-width: 968px) {
    .beranda {
      background-position: calc(100% + 700px);
    }
  }
  /*? beranda end  */
  
  /*? Tentang start */
  .tentang h1 {
    color:#DAA520;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
    text-shadow: 4px 3px 0 #fdf5e8, 2px 2px 2px rgba(0, 128, 54, 0);
  }
  .tentang .content-about {
    display: flex;
  }
  .tentang .content-about .content {
    width: 70%;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 20px;
  }
  .tentang .content .onedaf {
    display: flex;
    margin-bottom: 40px;
  }
  .tentang .onedaf img {
    width: 40%;
    border-radius: 10px;
    margin-right: 10px;
  }
  .tentang .onedaf article {
    width: 60%;
    color: #DAA520;
    font-size: 1.5rem;
    text-align: justify;
  }
  .visi {
    color:#DAA520;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 5px;
  }
  .tentang .content .cosmetic {
    display: flex;
    flex-direction: row-reverse;
  }
  .tentang .cosmetic img {
    width: 40%;
    border-radius: 10px;
    margin-left: 10px;
  }
  .tentang .cosmetic article {
    text-align: justify;
    width: 60%;
    color: #DAA520;
    font-size: 1.5rem;
  }
  .misi {
    color:#DAA520;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 5px;
  }
  .tentang .content-about .profile {
    width: 30%;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
  }
  .tentang .profile img {
    width: 100%;
    border-radius: 5px;
  }
  .tentang .profile h4 {
    text-align: center;
    font-size: 1.2rem;
    color: #DAA520;
    text-shadow: 4px 3px 0 #fdf5e8, 2px 2px 2px rgba(0, 128, 54, 0);
    margin: 10px 0 20px 0;
  }
  .tentang .profile article {
    color: #DAA520;
    text-align: justify;
  }
  @media screen and (max-width: 968px) {
    .tentang .content-about {
      flex-direction: column;
    }
    .tentang .content-about .content {
      width: 100%;
    }
    .tentang .content-about .profile {
      width: 100%;
    }
  }
  @media screen and (max-width: 668px) {
    .tentang .content .onedaf {
      flex-direction: column;
    }
    .tentang .onedaf img {
      width: 100%;
    }
    .tentang .onedaf article {
      width: 100%;
    }
  
    .tentang .content .cosmetic {
      flex-direction: column;
    }
    .tentang .cosmetic img {
      width: 100%;
      margin: 0;
    }
    .tentang .cosmetic article {
      width: 100%;
    }
  }
  /*? Tentang end */
  
  /*? Produk start */
  .produk h1 {
    color: #DAA520;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
    text-shadow: 4px 3px 0 #fdf5e8, 2px 2px 2px rgba(0, 128, 54, 0);
  }
  .produk .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .produk .card {
    width: 20%;
    margin-bottom: 20px;
  }
  .produk .card img {
    width: 100%;
  }
  .produk .card h4 {
    text-align: center;
    color: #DAA520;
  }
  @media screen and (max-width: 668px) {
    .produk .card {
      width: 40%;
    }
  }
  /*? Produk end  */
  
  /*? Kontak start */
.kontak h1 {
  color: #DAA520;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -10px;
  text-shadow: 4px 3px 0 #fdf5e8, 2px 2px 2px rgba(0, 128, 54, 0);
}

.map {
  width: 100%;
  height: 400px;
  padding: 6px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 2px #777, -2px -2px 2px #fff;
}

  .medias {
    width: 55%;
    height: 70px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .medias a {
    color: #DAA520;
    display: inline-block;
    margin-bottom: 60px;
    text-shadow: #222;
  }
  
  .medias a:hover {
    color: #222;
  }
  
  .media {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 13px 0;
    font-size: 23px;
    box-shadow: 1px 1px 1px #777, -1px -1px 1px #fff;
  }
  /*? Kontak end */
  
  /*? Foooter Start */
  footer {
    width: 100%;
    height: 50px;
    background-color: #fcd3b0;
  }
  
  footer h1 {
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }
  
  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  
  @media screen and (max-width: 968px) {
    footer {
      margin-bottom: 60px;
    }
  }
  /*? Footer end */
  
  /*? scroll top starts */
  #scroll-top {
    position: fixed;
    top: -140%;
    right: 3rem;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    background: #DAA520;
    color: white;
    border-radius: 10px;
    transition: 1s linear;
    z-index: 1;
  }
  #scroll-top.active {
    top: calc(100% - 7rem);
  }
  
  @media (max-width: 568px) {
    #scroll-top {
      top: 140%;
    }
  }
  /*? scroll top ends */